@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap');

body {
    background-image: url(../assets/IMG/Fundo-home.png);
    background-repeat: 0;
    background-size: cover;
    background-clip: inherit;
    font-family: 'Jim Nightshade', cursive;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

body img {
    display: flex;
    justify-items: center;

}

/*header ======================================================*/

.header {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-items: center;
    font-size: 50px;
    height: 250px;
}

.img-logo {
    width: 450px;
}

.ata {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-left: -220px;
}

.atalhos {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: space-around;
    margin: 80px;
    font-size: 45px;
    text-decoration: none;
}

.exit{
    margin-right: 150px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
}

/*Grafico/dashboard ==============================================================================*/

.ajuste-dash{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.card-grafico{
    justify-content: space-around;
    width: 1600px;
    height: 800px;
    margin-left: 500px;
    margin-top: 30px;
}

/* Descrição ======================================================================================*/

.descricao{
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}

.desc{
    font-size: 60px;
    color:white;
}

.linha-desc-direita {
    height: 2px;
    width: 800px;
    background: linear-gradient(to right, rgb(255, 255, 255), transparent);
    border: none;
    margin-top: 30px;
}
.linha-desc-esquerda {
    height: 2px;
    width: 800px;
    background: linear-gradient(to left, rgb(255, 255, 255), transparent);
    border: none;
    margin-top: 30px;
}
