@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap');

body {
    background-image: url(../assets/IMG/Fundo-home.png);
    background-repeat: 0;
    background-size: cover;
    background-clip: inherit;
    font-family: 'Jim Nightshade', cursive;
    font-size: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
}

body img {
    display: flex;
    justify-items: center;

}

/*header ======================================================*/

.header {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-items: center;
    font-size: 50px;
    height: 250px;
}

.img-logo {
    width: 450px;
}

.ata {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-left: -220px;
}

.atalhos {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: space-around;
    margin: 80px;
    font-size: 45px;
    text-decoration: none;
}

.exit {
    margin-right: 150px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

/* -- card-pesquisa ------------------------------------------------- */
.card-fundo-pesquisa {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.fundo-pesquisa {
    background-image: url(../assets/IMG/papel.png);
    background-repeat: 0;
    background-size: cover;
    background-clip: inherit;
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;

    width: 840px;
    height: 1150px;
    color: rgba(50, 32, 24, 0.9);
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.1);
    margin-top: -80px;
}

.card-pesquisa {
    width: 600px;
    height: 800px;
    margin-top: 140px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}


.card-pesquisa::-webkit-scrollbar {
    width: 8px;
}

.card-pesquisa::-webkit-scrollbar-track {
    background: #e6ccb2;
    border-radius: 4px;
}

.card-pesquisa::-webkit-scrollbar-thumb {
    background: #7f5539;
    border-radius: 4px;
}

.pesquisa {
    margin-top: 30px;
    margin-bottom: 70px;
}

input {
    width: 300px;
    padding-top: 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid rgba(50, 32, 24, 0.9);
    outline: none;
    color: rgba(50, 32, 24, 0.9);
    font-size: 40px;
    font-family: 'Jim Nightshade', cursive;
    text-align: center;
}

input::placeholder {
    color: rgba(50, 32, 24, 0.9);
    font-family: 'Jim Nightshade', cursive;
}

.resp {
    display: flex;
    flex-direction: column;
}

.inicio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 35px;
}

.img {
    width: 250px;
    height: 250px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    color: rgba(50, 32, 24, 0.9);
    margin-top: 10px;
}

.texto {
    font-size: 40px;
    color: rgba(50, 32, 24, 0.9);
}